<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzf.learn.community.mapper.UsersMapper">

    <update id="updateUser" parameterType="com.zzf.learn.community.model.Users">
    update users set name = #{name}, avatar_url = #{avatarUrl}, bio = #{bio}, modified_time = #{modifiedTime}, token = #{token} where account_id = #{accountId}
  </update>

    <select id="findByToken" resultType="com.zzf.learn.community.model.Users">
    select * from users where token = #{token}
  </select>

    <select id="findByAccountId" resultType="com.zzf.learn.community.model.Users">
    select * from users where account_id = #{accountId}
  </select>

    <select id="findById" resultType="com.zzf.learn.community.model.Users">
    select * from users where id = #{creator}
  </select>

    <select id="selectByIds" resultType="com.zzf.learn.community.model.Users">
      SELECT
        *
      FROM
        users
      WHERE
        id IN
      <foreach item="item" index="index" collection="list"
               open="(" separator="," close=")">
        #{item}
      </foreach>
    </select>

</mapper>
